.canvas-initialized {
   box-sizing: content-box;
   position: relative;
   overflow: hidden;
}

.canvas-initialized.grid {
   display: flex;
   flex-wrap: wrap;
}

.canvas-initialized.grid > div {
   border: 1px solid #000;
}

.canvas-initialized > .hero {
   position: absolute;
}