//Статические оболочки
body {
   font-family: $FONT_FAMILY_DEFAULT;
   font-size: $FONT_SIZE;
   font-weight: $FONT_WEIGHT;
   color: $COLOR;
   line-height: $LINE_HEIGHT;
   letter-spacing: $LETTER_SPACING;
}

body.frozen {
   overflow: hidden;
}

#root {
   width: 100vw;
   height: 100vh;
   position: relative;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: $CONTAINER_WIDTH + 40;
   margin: 0 auto;
   padding: 0 20px;
}

.page {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
